#LoadingRoute{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--white);
}

#LoadingRoute .SpinnerContainer{
    margin: 0 auto;
    display: inline;
}

#LoadingRoute .SpinnerContainer img{
    width: 200px;
    margin-top: -20px;
}

#LoadingRoute .SpinnerContainer div{
    margin-left: 50px;
}