.SortableTable svg{
    margin: -5px 0 0 5px;
    cursor: pointer;
}

.SortableTable svg.SortNeutral{
    color: var(--grey-light);
}

.SortableTable  svg.SortDown, .SortableTable svg.SortUp{
    color: var(--black);
}

@media all and (max-width: 1200px){
    .SortableTable svg{
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 3px;
    }
}