.VerifiedInputControl.empty{
	border-color: inherit !important;
}

.VerifiedInputControl.illegal{
	border-color: var(--red) !important;
}

.VerifiedInputControl.legal{
	border-color: var(--green) !important;
}