#DashboardRoute .navbar img{
    height: 30px;
}

#DashboardRoute .navbar .nav-link{
    margin-left: 5px;
    color: var(--grey-light);
}

#DashboardRoute .navbar .nav-link svg{
    margin-right: 5px;
}

#DashboardRoute .navbar{
    z-index: 2;
}

#DashboardRoute #MapContainer{
    height: calc(100% - 56px);
    width: 50%;
    margin-top: -56px;
    z-index: 1;
    float: left;
}

#DashboardRoute #MapContainer .map .mapboxgl-ctrl-bottom-right{
    display: none;
}

#DashboardRoute table{
    width: 50%;
}

#DashboardRoute table th:not(:first-child){
    text-align: center;
}

#DashboardRoute table td:not(:first-child){
    text-align: center;
}